.cuerpo-oscuro-transparente{
    background: #000; 
    opacity: .90;  
}
nav.navbar {
    background-color: #000;
}
.uno{
    background: red;
}
.arriba{
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
nav ul li a h5:hover{
    background: #E7B41E;
    border-radius: 8px;
    padding: 8px;
    text-decoration: underline;
}
.active{
    text-decoration: underline;
}
/*Para dispositivos com width menor que 768px*/ 
/*body { padding-top: 290px; }
/*Para dispositivos com width maior ou igual a 768px*/ 
/*@media (min-width: 768px) { body { padding-top: 170px; } }*/
body{
    /*padding-bottom: 70px;*/
    padding-top: 70px;
}
.color-tema{
    color: #ffbf00;
}
.espacio{
    margin-top: 25px;
}
.c-small{
    color: #8d9499;
}
.img-t{
    height: 250px;
    width: 350px;
}
.img-micro{
    height: 100px;
    width: 100px;
}
.color-pie{
    background: #000;
}


/*Para poner la barra de negro*/
.navbar {
    background-color: #000000;
}
.navbar .navbar-brand {
    color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ecf0f1;
}
.navbar .navbar-text {
    color: #ecf0f1;
}
.navbar .navbar-text a {
    color: #ecf0f1;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #ecf0f1; 
}
.navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ecf0f1;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ecf0f1;
    background-color: #e7b41e;
}
.navbar .navbar-toggle {
    border-color: #e7b41e;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #e7b41e;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ecf0f1;
}
.navbar .navbar-link {
    color: #ecf0f1;
}
.navbar .navbar-link:hover {
    color: #ecf0f1;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ecf0f1;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ecf0f1;
        background-color: #e7b41e;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ecf0f1;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ecf0f1;
        background-color: #e7b41e;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ecf0f1;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ecf0f1;
        background-color: #e7b41e;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ecf0f1;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ecf0f1;
        background-color: #e7b41e;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecf0f1;
    background-color: #e7b41e;
}

.ir-arriba {
    display:none;
    padding:30px;
    background-repeat: no-repeat;
    font-size:20px;
    color:black;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
    z-index: 2;
}

/*efeecto ed imagenes*/
.contenedor {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
}
.div-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.div-img.hidden {
    overflow: hidden;
}
.div-img .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}
.div-img:hover .img {
    background: #000; 
    opacity: .70;
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.txt-centrado{
    position: absolute;
    bottom: 0px;
    left: 36%;
    
/*    top: 50%;
    left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}
.img-modal{
    height: 380px;
    width: 500px;
}
/*marca para el menu seleccionado*/
#m1 #uno a,
#m2 #dos a,
#m3 #tres a,
#m4 #cuatro a,
#m5 #cinco a,
#m6 #seis a,
#m7 #siete a
{
    background: #E7B41E;
}
.raro{
    height: 200px;
    width: 250px;
}


/*Flechas del slider personalizada*/
/*.carousel-control-next-icon {
    background-image: url('img/sillas/nex.png');
    width: 50px;
    height: 50px;
   
}*/

/*imagenes carrusel*/
.ajustarImg{
    height: 640px;
}
.ajustarImg2{
    height: 397px;
}
@media(max-width:500px){
    .ajustarImg{
        height: auto;
    }
    .ajustarImg2{
        height: auto;
    }

}